* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  min-height: 100vh;        /* fill entire screen height */
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;   /* take up remaining space */
}